/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Instrument Sans", sans-serif;
    background-color: #ffffff;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; /* Специфическое свойство для iOS */
    width: 100%;
    font-size: 16px; /* 1rem = 16px */
    will-change: background-color;
}

body {
    opacity: 0;
    transition: opacity 1s ease; /* 1 секунда для плавного появления */
}

.visible-body {
    opacity: 1;
}

#footer {
    height: 80px; /* Высота футера */
    background-color: transparent; /* Прозрачный фон, чтобы создать пустое пространство */
    margin-top: 50px; /* Отступ сверху, если нужно разделить футер от предыдущего контента */
}

.text-gradient {
    font-weight: 700; /* bold */
    background-image: linear-gradient(122deg, #00dbde 0%, #fc00ff 100%);
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 10s ease infinite;
}

a {
    text-decoration: none;
}

#scroll-indicator {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 0, 0, 0.5);
    padding: 5px 10px;
    color: white;
    font-size: 16px;
    z-index: 1000;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
