/* Hero Section */
#hero-section {
    display: flex;
    flex-direction: row; /* Разместить блоки горизонтально */
    justify-content: space-between; /* Прижать блоки к краям */
    align-items: stretch; /* Растянуть элементы по высоте */
    padding: 2% 3%;
    height: 100vh; /* Полная высота экрана */
    box-sizing: border-box; /* Учитываем padding */
}

#content-wrapper {
    display: flex;
    justify-content: space-between; /* Пространство между блоками */
    align-items: stretch; /* Растягиваем блоки по высоте */
    width: 100%;
}

#left-block {
    display: flex;
    flex-grow: 1; /* Левый блок растягивается, занимая всё доступное пространство */
    flex-shrink: 1; /* Левый блок сжимается при необходимости */
    flex-direction: column; /* Вложенные элементы идут вертикально */
    justify-content: space-between; /* Верхний текст и ссылки внизу */
    min-width: 0;
}

#left-block h1 {
    font-size: 3.75rem; /* 60px */
    line-height: 4.8125rem; /* 77px */
    font-weight: 600; /* semibold */
    letter-spacing: 2%;
    margin: 0;
    max-width: 80%; /* Ограничиваем ширину текста */
}

#links-block a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
    color: #000;
    margin-bottom: 1rem;
}

#links-block a:hover img {
    display: inline;
}

#links-block img {
    margin-left: 0.5rem;
    display: none;
    transform: translateY(1px); /* Небольшой сдвиг вниз */
}

#right-block {
    flex-grow: 0;
    flex-shrink: 0;
    width: auto; /* Устанавливаем ширину по содержимому */
    display: flex;
    justify-content: flex-end; /* Картинка прижата вправо */
}

#right-block img {
    width: 56vh;
    height: 90vh; /* Картинка растягивается по высоте блока */
    object-fit: contain; /* Картинка не искажается */
}

/* Second Section */
#second-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
}

#second-content {
    width: 80%;
    margin-bottom: 1.25rem; /* 20px */
}

#second-content p {
    font-size: 3rem; /* 48px */
    text-align: left;
    line-height: 1.5;
}

.text-part {
    transition: opacity 1s ease;
}

#part-2,
#part-3 {
    opacity: 0;
}

/* Third Section */
#third-section {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
}

#third-heading {
    font-size: 3.75rem; /* 60px */
    line-height: 4.8125rem; /* 77px */
    font-weight: 600; /* semibold */
    letter-spacing: 2%;
    text-align: center;
    opacity: 0;
}

.centered-image {
    width: 100%; /* Заставляем div занимать всю ширину */
    display: flex;
    justify-content: center;
    align-items: center;
}

#arrow-icon {
    margin-top: 60px; /* Отступ сверху */
    max-width: 100px; /* Ограничиваем ширину изображения для примера, можно регулировать */
    opacity: 0;
}
