/* Адаптивный CSS */

/* Для экранов шириной до 1050px: один блок на строке */
@media (max-width: 1050px) {
    .p2-header,
    #p2-container {
        grid-template-columns: 1fr;
    }

    /* Уменьшаем отступы для маленьких экранов */
    .p2-header {
        padding: 2% 5%;
    }

    #p2-container {
        padding: 0 5%;
    }

    /* Регулируем размер шрифта для заголовков */
    .p2-header h1 {
        font-size: 2rem; /* Меньше размер для маленьких экранов */
        line-height: 3rem;
    }

    .text-content h2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .project-link {
        font-size: 1.125rem;
    }
}

/* Для экранов от 1051px до 1400px: два блока на строке */
@media (min-width: 1051px) and (max-width: 1400px) {
    .p2-header,
    #p2-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Отступы и размеры шрифтов остаются как в основном CSS */
}
