/* Основной контейнер с отступами */
#p2-container {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    padding: 0 5%; /* Отступы 5% слева и справа */
}

/* Блоки */
.new-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Текст по левому краю */
    width: 100%;
}

.image-content {
    width: 100%; /* Картинки занимают 100% ширины блока */
}

/* Картинки */
.image-content img {
    width: 100%; /* Картинки занимают 100% ширины блока */
    height: auto; /* Пропорциональная высота */
    border-radius: 0;
    object-fit: cover;
}

/* Стили для текста */
.text-content {
    margin-top: 1.25rem; /* 20px в рамах */
    text-align: left; /* Текст по левому краю */
    color: black; /* Чёрный текст */
}

/* Дополнительная информация о проекте */
.text-content .project-details {
    font-size: 1.1875rem; /* 19px в рамах */
    color: black; /* Чёрный текст */
    margin-bottom: 0.625rem; /* 10px в рамах */
    font-weight: 500; /* Medium стиль */
    letter-spacing: 0.01rem;
}

/* Заголовки */
.text-content h2 {
    font-size: 1.875rem; /* 30px в рамах */
    font-weight: 600; /* Semibold стиль */
    margin-bottom: 0.9375rem; /* 15px в рамах */
    line-height: 2.8125rem; /* Межстрочное расстояние 45px в рамах */
    color: black; /* Чёрный текст */
}

/* Ссылка на проект */
.project-link {
    font-size: 1.375rem; /* 22px в рамах */
    font-weight: 500; /* Medium стиль */
    color: black; /* Чёрный текст */
    text-decoration: none;
    position: relative;
    letter-spacing: 1%; /* Межбуквенное расстояние */
}

/* Эффект на стрелку в ссылке */
.project-link::after {
    content: "→";
    margin-left: 0.3125rem; /* 5px в рамах */
    transition: margin-left 0.3s;
}

.project-link:hover::after {
    margin-left: 0.625rem; /* 10px в рамах */
}
