#p2-container {
    display: flex;
    justify-content: space-between;
    width: 92.7vw; /* Ширина контейнера для согласованности с #p1-container */
    margin: 0 auto; /* Центрирование контейнера */
    padding: 0; /* Убираем внутренний отступ */
    box-sizing: border-box; /* Убедимся, что padding включен в ширину */
    gap: 60px; /* Отступ между блоками */
}

.new-block {
    display: flex;
    align-items: center;
    width: calc(
        50% - 10px - 10px
    ); /* Уменьшаем ширину блоков, учитывая отступ между ними */
    padding: 20px;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.15);
}

.text-content {
    flex: 1;
    color: #ffffff;
}

.text-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.text-content p {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 20px;
}

.text-button {
    background-color: #5852d6;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.text-button:hover {
    background-color: #e65b55;
}

.image-content img {
    max-width: 150px; /* Ограничение ширины изображения */
    border-radius: 10px; /* Закругление краев изображения */
    margin-left: 20px; /* Отступ между текстом и картинкой */
}
