@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 1000vh; /* Высота страницы для скролла */
    background-color: #262930;
}

#image-sequence-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Высота блока равна высоте экрана */
    overflow: hidden; /* Скрывает части изображения, выходящие за пределы контейнера */
}

#image-sequence {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: translate(-50%, -50%);
}

#scroll-indicator {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 0, 0, 0.5);
    padding: 5px 10px;
    color: white;
    font-size: 16px;
    z-index: 1000;
}

#text-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1001;
}

#part1,
#part2,
#text-overlay p,
#text-overlay button,
#text-overlay div {
    opacity: 0;
}

#border {
    position: fixed;
    width: 90vw; /* 80% от ширины экрана */
    height: 80vh; /* Можно использовать для контроля высоты, если нужно */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 80px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    opacity: 0;
}

#text-overlay {
    font-family: "Open Sans", sans-serif; /* Использовать шрифт Open Sans */
    position: fixed;
    top: 50%;
    left: 10%; /* Отступ слева 10% от экрана */
    transform: translateY(-50%); /* Центровка по вертикали */
    text-align: left; /* Выровнять текст по левому краю */
    z-index: 1001;
    color: #ffffff; /* Белый цвет текста для заголовка и описания */
    max-width: 50%; /* Ограничение ширины блока, чтобы контент не растягивался на весь экран */
}

#headline1 {
    font-family: "Inter", sans-serif; /* Использовать шрифт Open Sans */
    font-size: 56px; /* Размер шрифта для заголовка */
    font-weight: 500; /* Полужирный шрифт для заголовка */
    margin-top: 10px; /* Отступ снизу для заголовка */
    line-height: 130%;
}

#tags {
    display: flex;
    gap: 10px;
    margin-bottom: 0px; /* Отступ снизу для заголовка */
}

#tags span {
    color: #ffffff; /* Белый текст */
    padding: 8px 15px;
    border-style: solid;
    border-radius: 25px; /* Закругленные углы для тегов */
    border-width: 2px;
    border-color: #ffffff;
    font-size: 15px; /* Размер шрифта для тегов */
    font-weight: 500; /* Полужирный текст */
}

#description {
    margin-bottom: 40px;
    font-size: 18px; /* Обычный размер шрифта для описания */
    line-height: 170%;
    color: #b0b0b0; /* Слегка серый цвет для контраста */
    max-width: %; /* Ограничение ширины блока, чтобы контент не растягивался на весь экран */
}

#cta-button {
    background-color: #5852d6; /* Яркий цвет для кнопки */
    color: #ffffff;
    padding: 18px 30px;
    border: none;
    border-radius: 25px; /* Закругленные углы для кнопки */
    font-size: 16px;
    font-weight: 500; /* Полужирный текст */

    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 250px;
}

#cta-button:hover {
    background-color: #e65b55; /* Изменение цвета кнопки при наведении */
}
